{% extends 'base.html' %}

{% block content %}

<h1>{{ post.title }}</h1>
  <small>By: 
  {{ post.author.first_name }}
  {{ post.author.last_name }} - 
  {{ post.post_date }}
  
  {% if user.is_authenticated %}
  {% if perms.blog.change_post %}
   - <a href="{% url 'update-post' post.pk %}">Edit</a>
  {% if perms.blog.delete_post %}
  <a href="{% url 'delete-post' post.pk %}">Delete</a></small>

  {% endif %}
  {% endif %}
  {% endif %}
  
  <hr>
  <br/>
  {{ post.body|safe }}
  <br/><br/>
  <a href="{% url 'home' %}" class="btn btn-secondary">Back</a>

{% endblock %}
