{% extends 'base.html' %}

{% block content %}

<h1>Posts!</h1>
<ul>

{% for post in object_list %}

  <li>
    <a href="{% url 'article-detail' post.slug_url %}">{{ post.title }}</a> -
    {{ post.author.first_name }}
    {{ post.author.last_name }} -
    {{ post.post_date }}

    {% if user.is_authenticated %}
    {% if perms.blog.change_post %}
    - <small>
    <a href="{% url 'update-post' post.pk %}">Edit</a>
    {% endif %}
    {% if perms.blog.delete_post %}
    <a href="{% url 'delete-post' post.pk %}">Delete</a>
    </small> <br>
    {% endif %}

    {% endif %}

    {{ post.preview }}
  </li>

{% endfor %}

</ul>

{% endblock %}
